html,
body {
  font: 'Roboto';
  text-rendering: optimizeLegibility;
}

.header {
  margin-top: 40px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

a {
  color: #212529;
  text-decoration: underline;
}

.title {
  text-align: center !important;
  justify-content: center;
  position: relative;
  margin-bottom: auto;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

.dek {
  text-align: center !important;
  justify-content: center;
  position: relative;
  margin-bottom: auto;
  color: #333333;
  font-size: 18px;
}

.hidden {
  visibility: hidden;
}

.first-letter {
  font-size: 55px;
  line-height: 55px;
  float: left;
}

/* When it's less than 500 pixels wide */

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .title {
    text-align: center !important;
    justify-content: center;
    position: relative;
    margin-bottom: auto;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }

  .dek {
    text-align: center !important;
    justify-content: center;
    position: relative;
    color: #333333;
    font-size: 16px;
    background: #ffffff;
  }
}
